.search_container {
	display: flex;
	margin-top: 1.5em;
	position: relative;
    left: 450%;
}

.search_submit {
	background: transparent;
	border: none;
}

.search_submit img {
	width: 1.2em;
	height: 1.2em;
}