.designer-details {
  opacity: 0.8;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  bottom: 1em;
  background-color: #ffffff;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.designers {
	display: flex;
  margin: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.designer-details .designer-text {
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5em;
}

.designer-img {
  margin: 1em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-bottom: 0.25em;
}