.items-wrapper .items-title {
  text-align: center;
}

.items-wrapper .items-title .items-heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 2em;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items .item {
  /*height: 30em;
  width: 20em;*/
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items-title .items-image {
  height: 5em;
  width: 5em;
  margin-top: 1em;
  margin-right: 0.5em;
  background-color: #0e6cee;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}