.items-wrapper {
}

.item {
  /*height: 30em;
  width: 20em;*/
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items-title {
  text-align: center;
}

.items-heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 2em;
  text-transform: uppercase;
}