a {
  color: black;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items .item {
  /*height: 30em;
  width: 20em;*/
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.product-name {
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 1.2em;
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: .5em 0;
}

.product-description {
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

.product-price {
  font-size: 1em;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}
