.full {
	background: url(/images/like/full.svg);,
	background-repeat: no-repeat;
  	height: 1.2em;
  	width: 1.2em;
  	position: relative;
  	top: 2em;
    left: 1em;
}

.empty {
	background: url(/images/like/empty.svg);,
	background-repeat: no-repeat;
  	height: 1.2em;
  	width: 1.2em;
  	position: relative;
  	top: 2em;
    left: 1em;
}