.full {
	background-repeat: no-repeat;
  	height: 1.5em;
  	width: 1.5em;
  	position: relative;
  	top: 2em;
    left: 1em;
}

.empty {
	background-repeat: no-repeat;
  	height: 1.5em;
  	width: 1.5em;
  	position: relative;
  	top: 2em;
    left: 1em;
}