body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F9F6F6;
}

.items-wrapper {
  border-top: 4px solid black;
}

.item {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items-title {
  text-align: center;
}

a {
  color: black;
}

img {
  height: 20em;
}

#product-name {
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}

#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}

.items-title {
  margin: 3em 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.designer-details {
  height: 300px;
  position: relative;
  width: 500px;
  background-color: #eba184;
  opacity: 0.8;
  margin-bottom: 30px;
}

.designers {
	display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.designer-details .designer-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 20px;
}

.cart {
  border-top: 4px solid black;
  display: flex;
}

#cart-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.cart-item {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  min-height: 30em;
}

#total-price {
  font-family: 'Lato', sans-serif;
}

.total-price {
  width: 30vw;
  background-color: #FFF;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  padding: 3em;
}

.items-title {
  text-align: center;
}

img {
  height: 20em;
}

.navbar {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 3em;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 90vw;
  margin: 0;
  height: 3em;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.navbar li a {
  text-decoration: none;
  margin: 0 1em;
  color: white;
  transition: 0.5s;
}

.navbar li a:hover {
  background: transparent;
  color: black;
  transition: 0.5s;
}

.header {
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background: transparent;
}

#header-title {
  font-weight: lighter;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.links-header {
  display: flex;
}

p a {
  color: black;
  text-decoration: none;
  padding: 0 1em;
  background: rgba(255, 255, 255, 0.7);
  margin: 1em;
  padding: 1em 2em;
  border-radius: 5px;
  transition: 0.5s;
  height: 1em;
}

p a:hover {
  background: #FFF;
  transition: 0.5s;
}

.content {
  background-color: #F9F6F6;
}

.first-header {
  background: url('https://preview.ibb.co/j8nRCQ/fashion2.jpg');
}

.second-header {
  background: url('https://preview.ibb.co/fm4Cmk/fashion3.jpg');
}

.third-header {
  background: url('https://preview.ibb.co/bMsCK5/fashion5.jpg');
}

.fourth-header {
  background: url('https://preview.ibb.co/gtsZXQ/fashion6.jpg');
}

.first-header, .second-header, .third-header, .fourth-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.womens-products {
  border-top: 4px solid black;
}

.item {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items-title {
  text-align: center;
}

img {
  height: 20em;
}

#product-name {
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}

#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}

.womens-title {
  margin: 3em 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-align: center;
}

.mens-products {
  border-top: 4px solid black;
}

.item {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items-title {
  text-align: center;
}

img {
  height: 20em;
}

#product-name {
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}

#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}

.mens-title {
  margin: 3em 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-align: center;
}

.clothes{
  border-top: 4px solid black;
}

.item {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items-title {
  text-align: center;
}

img {
  height: 20em;
}

#product-name {
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}

#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}

.clothes-title {
  margin: 3em 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-align: center;
}

.accessories{
  border-top: 4px solid black;
}

.item {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.items-title {
  text-align: center;
}

img {
  height: 20em;
}

#product-name {
  border-top: 1px solid lightgrey;
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}

#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}

.price-add {
  display: flex;
  justify-content: space-between;
}

i {
  color: lightgrey;
  transition: 0.5s;
}

i:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}

.accessories-title {
  margin: 3em 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-align: center;
}

.show-product {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid black;
}

.item-wrapper {
  background-color: white;
  width: 50em;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  font-family: 'Quicksand', sans-serif;
  margin-left: 20em;
}

.similar-products {
  height: 40em;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
  margin: 0 3em;
  background-color: white;
}

.similar-product {
  height: 30em;
  width: 20em;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

#product-name {
  padding: 1em 0 0;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  margin: .5em 0;
}


#product-description {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

#product-price {
  font-size: 1em;
}

.show-product .product-image {
  height: 35em;
}

.item-name #product-name {
  font-size: 40px;
  border: none;
}

.item-name #product-description {
  font-size: 30px;
}

.item-name #product-price {
  font-size: 20px;
  color: grey;
}

.stars {
  display: flex;
}


/*# sourceMappingURL=styles.css.map*/