.content {
  background-color: #F9F6F6;
}

.first-header {
  background: url('http://1.bp.blogspot.com/-0Z-imNynj8M/T21On_qdnfI/AAAAAAAABZE/tUE966Zo9qw/s1600/Addy+van+den+Krommenacker+2+-+J+Spring+Fashion+Show.jpg');
}

.second-header {
  background: url('https://i.pinimg.com/originals/08/51/e3/0851e360f6eb796970fc00664ecb1e35.jpg');
}

.third-header {
  background: url('https://s3-ap-southeast-1.amazonaws.com/happywedding-production/b3e585b6da00ce3f096955860db95e32.jpg');
}

.fourth-header {
  background: url('http://www.metromela.com/wp-content/uploads/2017/03/29eoZ74k.jpg');
}

.first-header, .second-header, .third-header, .fourth-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
