.navbar {
  display: flex;
  height: 3em;
  border-style: solid none;
  border-width: 1px;
  border-color: black;
  background-color: white;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 90vw;
  justify-content: center;
  height: 3em;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.navbar li a {
  text-decoration: none;
  padding: 0 1em;
  height: 3em;
  color: black;
  transition: 0.5s;
}

.navbar li a:hover {
  color: black;
  border-color: coral;
  border-width: 5px;
  /*transition: 0.5s;*/
}

#logo {
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 4em;
    width: 80vw;
    left: 25%;
    position: relative;
}

.top {
  display: flex;
}
/*.navbar li a:hover:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid red 10px;
    bottom: -22px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}*/
