.navbar {
  display: flex;
  height: 3em;
  /*border-style: solid none;
  border-width: 1px;
  border-color: black;*/
  background-color: white;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 90vw;
  justify-content: center;
  height: 45px;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.navbar li a {
  text-decoration: none;
  padding: 0 1em;
  color: black;
  transition: 0.5s;
  height: 45px;
  font-size: 1.5em;
}

.navbar li a:hover {
  color: black;
  border-color: coral;
  border-width: 5px;
  /*transition: 0.5s;*/
}

#logo {
  font-family: 'Tajawal', sans-serif;
  font-size: 3em;
  color: black;
}

.top {
  text-align: center;
}