.show-product {
  width: 100vw;
  display: flex;
  align-items: center;
}

.item-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 40em;
  margin-left: 15em;
  margin-top: 2em;
  font-family: 'Quicksand', sans-serif;
}

.item-image {
  margin-right: 2em;
}

.similar-products {
  height: 40em;
  overflow: auto;
  font-family: 'Quicksand', sans-serif;
  padding: 2.3em 0 0 25em;
  background-color: white;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: lightgrey;
}


.product-details .product-name {
  font-size: 1em;
}

.product-description {
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

.product-price {
  font-size: 2em;
}

.show-product .product-image {
  height: 35em;
}

.item-name .product-name {
  font-size: 1.2em;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.item-name .product-description {
  font-size: 1em;
  visibility: hidden;
}

.item-name .dot {
  height: 4em;
  width: 4em;
  border: 1px solid black;
  margin-right: 0.5em;
  background-color: #0e6cee;
  border-radius: 50%;
  display: inline-block;
}

.item-name .designer-container {
  font-size: 1em;
  position: relative;
  display: flex;
  /*margin-bottom: 22em;*/
}

.item-name .product-designer-name {
  display: flex;
  color: black;
  font-size: 1.5em;
  align-items: center;
}

.item-name .product-price {
  font-size: 2em;
  color: grey;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 30em;
  flex: 1 1 auto;
}

.stars {
  display: flex;
}

.item .product-img-small {
  height: 15em;
}

.item .product-img-small img {
  height: 100%;
}