.show-product {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image {
  margin: 2em;
}

.item-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  font-family: 'Quicksand', sans-serif;
}

.similar-products {
  height: 40em;
  overflow: scroll;
  font-family: 'Quicksand', sans-serif;
  padding: 2.3em 0 0 25em;
  background-color: white;
}

.product-details .product-name {
  font-size: 1em;
}

.product-description {
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-weight: lighter;
  margin: 0;
}

.product-price {
  font-size: 1em;
}

.show-product .product-image {
  height: 35em;
}

.item-name .product-name {
  font-size: 1.2em;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.item-name .product-description {
  font-size: 1em;
}

.item-name .dot {
  height: 4em;
  width: 4em;
  border: 1px solid black;
  margin-right: 0.5em;
  background-color: #0e6cee;
  border-radius: 50%;
  display: inline-block;
}

.item-name .designer-container {
  font-size: 1em;
  position: relative;
  display: flex;
  top: -8em;
}

.item-name .designer-name {
  display: flex;
  color: black;
  align-items: center;
}

.item-name .product-price {
  font-size: 1em;
  color: grey;
}

.stars {
  display: flex;
}

.item .product-img-small {
  height: 15em;
}

.item .product-img-small img {
  height: 100%;
}